/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/style.scss */
html {
  background: #000;
}

/* line 10, ../sass/style.scss */
body {
  font: 17px/21px -apple-system-font;
  color: #fff;
  background: #222222 url(../img/ajax-loader.gif) no-repeat center center;
  background-size: 33px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

/* line 21, ../sass/style.scss */
nav.main {
  font-size: 16px;
}
/* line 24, ../sass/style.scss */
nav.main ul {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
/* line 34, ../sass/style.scss */
nav.main ul li {
  width: 33%;
  float: left;
  text-align: center;
  border-left: 2px solid #222;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 41, ../sass/style.scss */
nav.main ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
/* line 48, ../sass/style.scss */
nav.main ul li a:hover, nav.main ul li a:focus {
  background: #000;
}
/* line 52, ../sass/style.scss */
nav.main ul li a.active {
  background: #F0CA32;
  color: #222;
}
/* line 58, ../sass/style.scss */
nav.main ul li a.tapped, nav.main ul li a:active {
  background: #fff;
  color: #222;
}
/* line 64, ../sass/style.scss */
nav.main ul li:nth-child(2) {
  width: 34%;
}
/* line 68, ../sass/style.scss */
nav.main ul li:first-child {
  border-left: none;
}

/* line 76, ../sass/style.scss */
.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background: #F0CA32;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(200px);
  -moz-transform: perspective(200px);
  -ms-transform: perspective(200px);
  -o-transform: perspective(200px);
  transform: perspective(200px);
}
/* line 91, ../sass/style.scss */
.page .showNavigation {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  display: block;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}
/* line 104, ../sass/style.scss */
.page.navShown {
  -webkit-transform: rotateX(20deg) scale(0.775) translateY(45px);
  -moz-transform: rotateX(20deg) scale(0.775) translateY(45px);
  -ms-transform: rotateX(20deg) scale(0.775) translateY(45px);
  -o-transform: rotateX(20deg) scale(0.775) translateY(45px);
  transform: rotateX(20deg) scale(0.775) translateY(45px);
  -webkit-transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
}
/* line 109, ../sass/style.scss */
.page.navShown.rotateBack {
  -webkit-transform: rotateX(0) scale(0.775) translateY(45px);
  -moz-transform: rotateX(0) scale(0.775) translateY(45px);
  -ms-transform: rotateX(0) scale(0.775) translateY(45px);
  -o-transform: rotateX(0) scale(0.775) translateY(45px);
  transform: rotateX(0) scale(0.775) translateY(45px);
}
/* line 113, ../sass/style.scss */
.page.navShown.slideOut {
  -webkit-transform: rotateX(0) scale(0.775) translateY(-150%);
  -moz-transform: rotateX(0) scale(0.775) translateY(-150%);
  -ms-transform: rotateX(0) scale(0.775) translateY(-150%);
  -o-transform: rotateX(0) scale(0.775) translateY(-150%);
  transform: rotateX(0) scale(0.775) translateY(-150%);
}

/* line 120, ../sass/style.scss */
.content {
  font-size: 16px;
  color: #222;
}
/* line 124, ../sass/style.scss */
.content h1 {
  margin-bottom: 20px;
  line-height: 1.2em;
  font: 48px/48px -apple-system-font;
  font-weight: 100;
}
/* line 131, ../sass/style.scss */
.content p {
  line-height: 1.6em;
  margin-top: 20px;
  font-weight: normal;
}
/* line 136, ../sass/style.scss */
.content p.introduction {
  margin-top: 0;
  font-weight: bold;
  font: 21px/21px -apple-system-font;
  line-height: 1.6em;
}

/* line 146, ../sass/style.scss */
.tabs {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  padding: 30px 30px 90px;
  font-weight: bold;
}
/* line 158, ../sass/style.scss */
.tabs.active {
  display: block;
}
