@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transform-legacy";
@import "compass/utilities/general/clearfix";

body{
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	background: #222 url(../img/ajax-loader.gif) no-repeat center center;
	background-size: 33px;
}

// Main navigation
nav.main{
	font-size: 16px;
	
	ul{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #111;
		@include clearfix;
		
		li{
			width: 33%;
			float: left;
			text-align: center;
			border-left: 2px solid #222;
			@include box-sizing(border-box);
			
			a{
				display: block;
				padding: 20px;
				color: #fff;
				text-decoration: none;
				
				&:hover,
				&:focus{
					background: #000;	
				}
				
				&.active{
					background: #F0CA32;
					color: #222;
				}
			}
			
			&:nth-child(2){
				width: 34%;
			}
			
			&:first-child{
				border-left: none;
			}
		}
	}
}

// Page
.page{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	background: #F0CA32;
	@include box-shadow(0 0 20px rgba(0,0,0,0.5));
	@include transition(transform 0.3s);
	@include transform-origin(top, center);
	@include border-radius(5px);
	
	.showNavigation{
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 99;
		display: block;
		cursor: pointer;
		background: rgba(0,0,0,0.75);
		padding: 10px;
		@include border-radius(50%);
	}
	
	&.navShown{
		@include transform(0.775, 0deg, 0, 45px, 0deg, 0deg);
		
		&.slideOut{
			@include transform(0.775, 0deg, 0, -150%, 0deg, 0deg);
		}
		
		&.slideIn{
			@include transform(0.775, 0deg, 150%, 45px, 0deg, 0deg);
		}
	}
}

// Content styling
.content{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 30px 30px 80px;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	font-size: 16px;
	color: #222;
	
	h1{
		font-family: "Hoefler Text", Constantia, Palatino, Georgia, serif;
		font-size: 48px;
		margin-bottom: 20px;
		line-height: 1.2em;
	}
	
	p{
		line-height: 1.5em;
		margin-top: 20px;
		
		&.introduction{
			margin-top: 0;
			font-size: 22px;
			line-height: 1.2em;
			font-family: "Hoefler Text", Constantia, Palatino, Georgia, serif;
			color: rgba(0,0,0,0.5);
		}
	}
}

// Tab display
.tabs{
	display: none;
	
	&.active{
		display: block;
	}
}